In [1]:
import pandas as pd

In [2]:
file = "Resources\Heroesofpymoli.csv"

In [3]:
orignal_df = pd.read_csv(file)
orignal_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
df = orignal_df.set_index('Purchase ID')
df.head()

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
# find total players
Total_Players = len(df['SN'].unique())
Total_Players

576

In [6]:
#unique items
Total_Unique_items = len(df['Item ID'].unique())
Total_Unique_items

179

In [7]:
#average price
Average_Price = round(df['Price'].mean(),2)
Average_Price

3.05

In [8]:
#Number of Purchases
Number_of_Purchases = df["SN"].count()
Number_of_Purchases

780

In [9]:
#Total Revenue
Total_Revenue = df['Price'].sum()
Total_Revenue

2379.77

In [10]:
#Summary Table
summary={
    'Total Unique Items' : [Total_Unique_items],
    'Average Price' : [Average_Price],
    'Number of Purchases' : [Number_of_Purchases],
    'Total Revenue' : [Total_Revenue]
}
summary_df=pd.DataFrame(summary)
summary_df

   Total Unique Items  Average Price  Number of Purchases  Total Revenue
0                 179           3.05                  780        2379.77

In [11]:
Gender = len(df['Gender'].unique())
Gender

3

In [12]:
another_df = df.loc[:,['Gender', 'SN', 'Age']]
another_df = another_df.drop_duplicates()

In [13]:
Gender_Type = another_df['Gender'].value_counts()
Gender_Type

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [14]:
#Percentage by gender 
Percentage_by_gender = round(Gender_Type / Total_Players *100,2)
Percentage_by_gender

Male                     84.03
Female                   14.06
Other / Non-Disclosed     1.91
Name: Gender, dtype: float64

In [15]:
#Summary Table for different Gender Types
summary={
    'Gender Type' : Gender_Type,
    'Percentage by gender' : Percentage_by_gender
}
summary_another_df = pd.DataFrame(summary)
summary_another_df

                       Gender Type  Percentage by gender
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91

In [16]:
#Purchase Count
Purchase_Count = df.groupby(['Gender']).count()['Item ID'].rename('Purchase_Count')
Purchase_Count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase_Count, dtype: int64

In [17]:
#Average Purchase Price
Average_Purchase_Price = round(df.groupby(['Gender']).mean()['Price'].rename('Average Purchase Price'),2)
Average_Purchase_Price

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Average Purchase Price, dtype: float64

In [18]:
#Total Purchase Value for each gender
Total_Purchase_Value = df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
Total_Purchase_Value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Total Purchase Value, dtype: float64

In [19]:
#Average Purchase Total per person by gender
Average_Total_Purchase_per_person = df.groupby(['Gender']).mean()
Average_Total_Purchase_per_person

                             Age    Item ID     Price
Gender
Female                 21.345133  85.477876  3.203009
Male                   22.917178  93.095092  3.017853
Other / Non-Disclosed  24.200000  80.800000  3.346000

In [20]:
#Summary of purchasing analysis(gender)
summary={
    'Purchase Count' : Purchase_Count,
    'Average Purchase Price' : Average_Purchase_Price,
    'Total Purchase Value' : Total_Purchase_Value,
    'Average Total Purchase per person' : Average_Total_Purchase_per_person['Price']
}
purchasing_analysis_summary = pd.DataFrame(summary)
purchasing_analysis_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per person
Gender,,,,
Female,113,3.20,361.94,3.203009
Male,652,3.02,1967.64,3.017853
Other / Non-Disclosed,15,3.35,50.19,3.346000

In [21]:
#age demo
#create bins 
bins = [10, 15, 20, 25, 30, 35, 40,]

group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [22]:
df['Total_Players'] = pd.cut(df['Age'], bins, labels=group_names, include_lowest=True)

ValueError: Bin labels must be one fewer than the number of bin edges

In [23]:
#age demo precent

In [24]:
#age demo summary for count and percent

In [25]:
#age demo purchase count

In [26]:
#age demo average purchase price

In [27]:
#age demo total purchase value

In [28]:
#age demo average purchase total per person by age group

In [29]:
#Summary of age demo

In [30]:
#top spenders sn
Top_Five_SN = df.groupby(['SN']).SN.value_counts().nlargest(5)
Top_Five_SN

SN           SN
Lisosia93    Lisosia93      5
Idastidru52  Idastidru52    4
Iral74       Iral74         4
Aelin32      Aelin32        3
Aina42       Aina42         3
Name: SN, dtype: int64

In [31]:
#top spenders purchase count
Top_Five_Purchase_Count = df.groupby(['Price']).Price.value_counts().nlargest(5)
Top_Five_Purchase_Count

Price  Price
4.40   4.40     21
4.23   4.23     20
1.02   1.02     14
1.79   1.79     14
2.18   2.18     14
Name: Price, dtype: int64

In [32]:
#top spenders average purchase price 
Top_Five_Average_Purchase_Price = df.groupby(['Price']).Price.mean().nlargest(5)
Top_Five_Average_Purchase_Price

Price
4.99    4.99
4.94    4.94
4.93    4.93
4.91    4.91
4.90    4.90
Name: Price, dtype: float64

In [33]:
#top spenders total purchase value
Top_Five_Total_Purchase_Value = df.groupby(['Price']).Price.sum().nlargest(5)
Top_Five_Total_Purchase_Value

Price
4.40    92.40
4.23    84.60
4.35    60.90
4.90    44.10
4.58    41.22
Name: Price, dtype: float64

In [34]:
#summary top spenders
summary={
    'Top Five SN' : Top_Five_SN,
    'Top Five Purchase Count' : Top_Five_Purchase_Count,
    'Top Five Average Purchase Price' : Top_Five_Average_Purchase_Price,
    'Top Five Total Purchase Value' : Top_Five_Total_Purchase_Value
}
top_spenders_summary = pd.DataFrame(summary)
top_spenders_summary

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'double'

In [35]:
# most popular items 'item id'
Five_Most_Popular_Item_ID = df.groupby(['Item ID','Item Name']).Price.count().nlargest(5)
Five_Most_Popular_Item_ID

Item ID  Item Name
92       Final Critic                                    13
178      Oathbreaker, Last Hope of the Breaking Storm    12
82       Nirvana                                          9
108      Extraction, Quickblade Of Trembling Hands        9
132      Persuasion                                       9
Name: Price, dtype: int64

In [36]:
# most popular items 'item name'
#Five_Most_Popular_Item_Name = df.groupby(['Item ID']).Price.sum().nlargest(5)
#Five_Most_Popular_Item_Name

In [37]:
#most popular items 'purchase count'
#Five_Most_Popular_Item_Purchase_Count = df.groupby(['Price']).Price.sum().nlargest(5)
#Five_Most_Popular_Item_Purchase_Count

In [38]:
#most popular items 'item price'

In [39]:
#most popular items 'total purchase value'
Five_Most_Popular_Item_Total_Purchase_Value =

SyntaxError: invalid syntax (<ipython-input-39-d40c016dfd7c>, line 2)

In [40]:
#summary most popular items
summary={
    'Five Most Popular Item ID' : Five_Most_Popular_Item_ID,
}
most_popular_items_summary = pd.DataFrame(summary)
most_popular_items_summary

                                                      Five Most Popular Item ID
Item ID Item Name
92      Final Critic                                                         13
178     Oathbreaker, Last Hope of the Breaking Storm                         12
82      Nirvana                                                               9
108     Extraction, Quickblade Of Trembling Hands                             9
132     Persuasion                                                            9

In [41]:
#most profitable items 'item id'
most_profitable_item_id = df.groupby(['Item ID', 'Item Name']).Price.sum().nlargest(5)
most_profitable_item_id

Item ID  Item Name
92       Final Critic                                    59.99
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
82       Nirvana                                         44.10
145      Fiery Glass Crusader                            41.22
103      Singed Scalpel                                  34.80
Name: Price, dtype: float64

In [42]:
#most profitable items 'item name'

In [43]:
#most profitable items 'purchase count'
most_profitable_purchase_count = df.groupby(['Item ID']).Price.count().nlargest(5)
most_profitable_purchase_count

Item ID
92     13
178    12
82      9
108     9
132     9
Name: Price, dtype: int64

In [44]:
#most profitable items 'item price'

In [45]:
#most profitable items 'total purchase value'

In [46]:
#summary profitable items
summary={
    'most profitable item id' : most_profitable_item_id
}
profitable_summary = pd.DataFrame(summary)
profitable_summary

                                                      most profitable item id
Item ID Item Name
92      Final Critic                                                    59.99
178     Oathbreaker, Last Hope of the Breaking Storm                    50.76
82      Nirvana                                                         44.10
145     Fiery Glass Crusader                                            41.22
103     Singed Scalpel                                                  34.80