In [6]:
import pandas as pd

In [7]:
file = "Resources\Heroesofpymoli.csv"

In [8]:
orignal_df = pd.read_csv(file)
orignal_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
df = orignal_df.set_index('Purchase ID')
df.head()

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [10]:
#list
df.SN

Purchase ID
0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
775       Aethedru70
776           Iral74
777       Yathecal72
778          Sisur91
779        Ennrian78
Name: SN, Length: 780, dtype: object

In [11]:
# find total players
Total_Players = len(df['SN'].unique())
Total_Players

576

In [12]:
#unique items
Total_Unique_items = len(df['Item ID'].unique())
Total_Unique_items

179

In [13]:
#average price
Average_Price = df['Price'].mean()
Average_Price

3.050987179487176

In [14]:
#Number of Purchases
Number_of_Purchases = df["SN"].count()
Number_of_Purchases

780

In [15]:
#Total Revenue
Total_Revenue = df['Price'].sum()
Total_Revenue

2379.77

In [17]:
#Summary Table
summary={
    'Total Unique Items' : [Total_Unique_items],
    'Average Price' : [Average_Price],
    'Number of Purchases' : [Number_of_Purchases],
    'Total Revenue' : [Total_Revenue]
}
summary_df=pd.DataFrame(summary)
summary_df

   Total Unique Items  Average Price  Number of Purchases  Total Revenue
0                 179       3.050987                  780        2379.77

In [ ]:
#male or female
Total_Females