In [1]:
import pandas as pd

In [2]:
file = "Resources\Heroesofpymoli.csv"

In [3]:
orignal_df = pd.read_csv(file)
orignal_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
df = orignal_df.set_index('Purchase ID')
df.head()

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#list
df.SN

Purchase ID
0            Lisim78
1        Lisovynya38
2         Ithergue48
3      Chamassasya86
4          Iskosia90
           ...
775       Aethedru70
776           Iral74
777       Yathecal72
778          Sisur91
779        Ennrian78
Name: SN, Length: 780, dtype: object

In [6]:
# find total players
Total_Players = len(df['SN'].unique())
Total_Players

576

In [7]:
#unique items
Total_Unique_items = len(df['Item ID'].unique())
Total_Unique_items

179

In [47]:
#average price
Average_Price = round(df['Price'].mean(),2)
Average_Price

3.05

In [9]:
#Number of Purchases
Number_of_Purchases = df["SN"].count()
Number_of_Purchases

780

In [10]:
#Total Revenue
Total_Revenue = df['Price'].sum()
Total_Revenue

2379.77

In [11]:
#Summary Table
summary={
    'Total Unique Items' : [Total_Unique_items],
    'Average Price' : [Average_Price],
    'Number of Purchases' : [Number_of_Purchases],
    'Total Revenue' : [Total_Revenue]
}
summary_df=pd.DataFrame(summary)
summary_df

   Total Unique Items  Average Price  Number of Purchases  Total Revenue
0                 179       3.050987                  780        2379.77

In [12]:
df.Gender

Purchase ID
0        Male
1        Male
2        Male
3        Male
4        Male
        ...
775    Female
776      Male
777      Male
778      Male
779      Male
Name: Gender, Length: 780, dtype: object

In [13]:
Gender = df['Gender'].count()
Gender

780

In [14]:
#male or female
Female = df['Gender'].value_counts()['Female']
Female

113

In [15]:
Female_Percentage = str(round(Female/Gender*100,2)) + '%'
Female_Percentage

'14.49%'

In [16]:
Male = df['Gender'].value_counts()['Male']
Male

652

In [17]:
Male_Percentage = str(round(Male/Gender*100,2)) + '%'
Male_Percentage

'83.59%'

In [46]:
Gender_Type = df.groupby(['Gender']).sum()(len['SN']).remove['Gender Type']
Gender_Type

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
#Percentage 
#Percentage = round((df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")/Total_Players*100),2)
#Percentage

In [ ]:
#Summary Table for different Gender Types
Summary={
    ''
}

In [36]:
#Purchase Count
Purchase_Count = df.groupby(['Gender']).count()['Item ID'].rename('Purchase_Count')
Purchase_Count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase_Count, dtype: int64

In [49]:
#Average Purchase Price
Average_Purchase_Price = round(df.groupby(['Gender']).mean()['Price'].rename('Average Purchase Price'),2)
Average_Purchase_Price

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Average Purchase Price, dtype: float64

In [21]:
#Total Purchase Value for each gender
Total_Purchase_Value = df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
Total_Purchase_Value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Total Purchase Value, dtype: float64

In [48]:
#Average Purchase Total per person by gender
Average_Total_Purchase_per_person = df.groupby(['Gender']).mean()['SN'].rename('Average Total Purchase per person')
Average_Total_Purchase_per_person

TypeError: 'builtin_function_or_method' object is not subscriptable

In [ ]:
#Summary of purchasing analysis(gender)

In [44]:
#age demo
df['binned']=pd.cut(x=df['Age'], bins=[<10,10-14,15-19,20-24,25-29,30-34,35-39,40+])

SyntaxError: invalid syntax (<ipython-input-44-c583e46487a2>, line 2)

In [ ]:
#age demo precent

In [ ]:
#age demo summary for count and percent

In [43]:
#age demo purchase count

SyntaxError: invalid syntax (<ipython-input-43-b4a6094aa340>, line 2)

In [ ]:
#age demo average purchase price

In [ ]:
#age demo total purchase value

In [ ]:
#age demo average purchase total per person by age group

In [ ]:
#Summary of age demo

In [ ]:
#top spenders sn

In [ ]:
#top spenders purchase count

In [ ]:
#top spenders average purchase price

In [ ]:
#top spenders total purchase value

In [ ]:
#summary top spenders

In [ ]:
# most popular items 'item id'

In [ ]:
# most popular items 'item name'

In [ ]:
#most popular items 'purchase count'

In [ ]:
#most popular items 'item price'

In [ ]:
#most popular items 'total purchase value'

In [ ]:
#summary most popular items

In [ ]:
#most profitable items 'item id'

In [ ]:
#most profitable items 'item name'

In [ ]:
#most profitable items 'purchase count'

In [ ]:
#most profitable items 'item price'

In [ ]:
#most profitable items 'total purchase value'

In [ ]:
#summary profitable items