In [1]:
import pandas as pd

In [2]:
file = "Resources\Heroesofpymoli.csv"

In [3]:
orignal_df = pd.read_csv(file)
orignal_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [100]:
df = orignal_df.set_index('Purchase ID')
df.head()

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [101]:
# find total players
Total_Players = len(df['SN'].unique())
Total_Players

576

In [102]:
#unique items
Total_Unique_items = len(df['Item ID'].unique())
Total_Unique_items

179

In [103]:
#average price
Average_Price = round(df['Price'].mean(),2)
Average_Price

3.05

In [78]:
#Number of Purchases
Number_of_Purchases = df["SN"].count()
Number_of_Purchases

780

In [79]:
#Total Revenue
Total_Revenue = df['Price'].sum()
Total_Revenue

2379.77

In [80]:
#Summary Table
summary={
    'Total Unique Items' : [Total_Unique_items],
    'Average Price' : [Average_Price],
    'Number of Purchases' : [Number_of_Purchases],
    'Total Revenue' : [Total_Revenue]
}
summary_df=pd.DataFrame(summary)
summary_df

   Total Unique Items  Average Price  Number of Purchases  Total Revenue
0                 179           3.05                  780        2379.77

In [52]:
Gender = len(df['Gender'].unique())
Gender

3

In [92]:
another_df = df.loc[:,['Gender', 'SN', 'Age']]
another_df = another_df.drop_duplicates()

In [93]:
Gender_Type = another_df['Gender'].value_counts()
Gender_Type

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [109]:
#Percentage by gender 
Percentage_by_gender = round(Gender_Type / Total_Players *100,2)
Percentage_by_gender

Male                     84.03
Female                   14.06
Other / Non-Disclosed     1.91
Name: Gender, dtype: float64

In [91]:
#Summary Table for different Gender Types
summary={
    'Gender Type' : Gender_Type,
    'Percentage by gender' : Percentage_by_gender
}
summary_another_df = pd.DataFrame(summary)
summary_another_df

                       Gender Type  Percentage by gender
Male                           484                 84.03
Female                          81                 14.06
Other / Non-Disclosed           11                  1.91

In [36]:
#Purchase Count
Purchase_Count = df.groupby(['Gender']).count()['Item ID'].rename('Purchase_Count')
Purchase_Count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase_Count, dtype: int64

In [49]:
#Average Purchase Price
Average_Purchase_Price = round(df.groupby(['Gender']).mean()['Price'].rename('Average Purchase Price'),2)
Average_Purchase_Price

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Average Purchase Price, dtype: float64

In [129]:
#Total Purchase Value for each gender
Total_Purchase_Value = df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
Total_Purchase_Value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Total Purchase Value, dtype: float64

In [132]:
#Average Purchase Total per person by gender
Average_Total_Purchase_per_person = df.groupby(['Gender']).mean()
Average_Total_Purchase_per_person

                             Age    Item ID     Price
Gender
Female                 21.345133  85.477876  3.203009
Male                   22.917178  93.095092  3.017853
Other / Non-Disclosed  24.200000  80.800000  3.346000

In [130]:
#Summary of purchasing analysis(gender)
summary={
    'Purchase Count' : Purchase_Count,
    'Average Purchase Price' : Average_Purchase_Price,
    'Total Purchase Value' : Total_Purchase_Value,
    'Average Total Purchase per person' : Average_Total_Purchase_per_person['Price']
}
purchasing_analysis_summary = pd.DataFrame(summary)
purchasing_analysis_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per person
Gender,,,,
Female,113,3.20,361.94,3.203009
Male,652,3.02,1967.64,3.017853
Other / Non-Disclosed,15,3.35,50.19,3.346000

In [125]:
#age demo
#create bins 
bins = [10, 15, 20, 25, 30, 35, 40,]

group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [126]:
df['Total_Players'] = pd.cut(df['Age'], bins, labels=group_names, include_lowest=True)

ValueError: Bin labels must be one fewer than the number of bin edges

In [ ]:
#age demo precent

In [ ]:
#age demo summary for count and percent

In [104]:
#age demo purchase count

In [ ]:
#age demo average purchase price

In [ ]:
#age demo total purchase value

In [ ]:
#age demo average purchase total per person by age group

In [ ]:
#Summary of age demo

In [ ]:
#top spenders sn

In [ ]:
#top spenders purchase count

In [ ]:
#top spenders average purchase price

In [ ]:
#top spenders total purchase value

In [ ]:
#summary top spenders

In [ ]:
# most popular items 'item id'

In [ ]:
# most popular items 'item name'

In [ ]:
#most popular items 'purchase count'

In [ ]:
#most popular items 'item price'

In [ ]:
#most popular items 'total purchase value'

In [ ]:
#summary most popular items

In [ ]:
#most profitable items 'item id'

In [ ]:
#most profitable items 'item name'

In [ ]:
#most profitable items 'purchase count'

In [ ]:
#most profitable items 'item price'

In [ ]:
#most profitable items 'total purchase value'

In [ ]:
#summary profitable items