In [1]:
import pandas as pd

In [2]:
file = "Resources\Heroesofpymoli.csv"

In [3]:
orignal_df = pd.read_csv(file)
orignal_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
df = orignal_df.set_index('Purchase ID')
df.head()

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
# find total players
Total_Players = len(df['SN'].unique())
Total_Players

576

In [31]:
summary={
    'Total Players' : [Total_Players]
}
total_players_summary = pd.DataFrame(summary)
total_players_summary

   Total Players
0            576

In [6]:
#unique items
Total_Unique_items = len(df['Item ID'].unique())
Total_Unique_items

179

In [115]:
#average price
Average_Price = round(df['Price'].mean(),2)
Average_Price

3.05

In [116]:
#Number of Purchases
Number_of_Purchases = df["SN"].count()
Number_of_Purchases

780

In [117]:
#Total Revenue
Total_Revenue = df['Price'].sum()
Total_Revenue

2379.77

In [10]:
#Summary Table
summary={
    'Total Unique Items' : [Total_Unique_items],
    'Average Price' : [Average_Price],
    'Number of Purchases' : [Number_of_Purchases],
    'Total Revenue' : [Total_Revenue]
}
summary_df=pd.DataFrame(summary)
summary_df

   Total Unique Items  Average Price  Number of Purchases  Total Revenue
0                 179           3.05                  780        2379.77

In [119]:
another_df = df.loc[:,['Gender', 'SN', 'Age']]
another_df = another_df.drop_duplicates()

In [120]:
Gender_Type = another_df['Gender'].value_counts()
Gender_Type

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [121]:
#Percentage by gender 
Percentage_by_gender = round(Gender_Type / Total_Players *100,2).map("{:.2f}%".format)
Percentage_by_gender

Male                     84.03%
Female                   14.06%
Other / Non-Disclosed     1.91%
Name: Gender, dtype: object

In [122]:
#Summary Table for different Gender Types
summary={
    'Gender Type' : Gender_Type,
    'Percentage by gender' : Percentage_by_gender
}
summary_another_df = pd.DataFrame(summary)
summary_another_df

                       Gender Type Percentage by gender
Male                           484               84.03%
Female                          81               14.06%
Other / Non-Disclosed           11                1.91%

In [16]:
#Purchase Count
Purchase_Count = df.groupby(['Gender']).count()['Item ID'].rename('Purchase_Count')
Purchase_Count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase_Count, dtype: int64

In [123]:
#Average Purchase Price
Average_Purchase_Price = round(df.groupby(['Gender']).mean()['Price'].rename('Average Purchase Price'),2).map("${:.2f}".format)
Average_Purchase_Price

Gender
Female                   $3.20
Male                     $3.02
Other / Non-Disclosed    $3.35
Name: Average Purchase Price, dtype: object

In [124]:
#Total Purchase Value for each gender
Total_Purchase_Value = df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value").map("${:.2f}".format)
Total_Purchase_Value

Gender
Female                    $361.94
Male                     $1967.64
Other / Non-Disclosed      $50.19
Name: Total Purchase Value, dtype: object

In [126]:
#Average Purchase Total per person by gender
Average_Total_Purchase_per_person = (Total_Purchase_Value / Purchase_Count).map("${:.2f}".format)
Average_Total_Purchase_per_person

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [127]:
#Summary of purchasing analysis(gender)
summary={
    'Purchase Count' : Purchase_Count,
    'Average Purchase Price' : Average_Purchase_Price,
    'Total Purchase Value' : Total_Purchase_Value,
    #'Average Total Purchase per person' : Average_Total_Purchase_per_person['Price']
}
purchasing_analysis_summary = pd.DataFrame(summary)
purchasing_analysis_summary

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,$1967.64
Other / Non-Disclosed,15,$3.35,$50.19

In [128]:
max_age = df["Age"].max()
min_age = df["Age"].min()

In [129]:
#age demo
#create bins 
bins = [5, 9.9, 14.9, 19.9 , 24.9, 29.9, 34.9, 39.9, 99]
labels = group_names
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [130]:
df["Age Ranges"] = pd.cut(df["Age"], bins, labels = group_names)
df["Age Ranges"]

Purchase ID
0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age Ranges, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [131]:
#age demo summary for count 
age_count = age_df["SN"].nunique()
age_count

Age Ranges
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [132]:
#age demo summary for percent
age_percentage = round(age_count / Total_Players *100,2).map("{:.2f}%".format)
age_percentage

Age Ranges
<10       2.95%
10-14     3.82%
15-19    18.58%
20-24    44.79%
25-29    13.37%
30-34     9.03%
35-39     5.38%
40+       2.08%
Name: SN, dtype: object

In [133]:
#age summary for count and percent
summary={
    'age count' : age_count,
    'age percentage' : age_percentage
}
age_demo_summary = pd.DataFrame(summary)
age_demo_summary

            age count age percentage
Age Ranges
<10                17          2.95%
10-14              22          3.82%
15-19             107         18.58%
20-24             258         44.79%
25-29              77         13.37%
30-34              52          9.03%
35-39              31          5.38%
40+                12          2.08%

In [134]:
#age demo purchase count
age_demo_purchase_count = age_df["SN"].count()
age_demo_purchase_count

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: SN, dtype: int64

In [135]:
#age demo average purchase price
age_demo_average_purchase = round(age_df["Price"].mean(),2).map("${:.2f}".format)
age_demo_average_purchase

Age Ranges
<10      $3.35
10-14    $2.96
15-19    $3.04
20-24    $3.05
25-29    $2.90
30-34    $2.93
35-39    $3.60
40+      $2.94
Name: Price, dtype: object

In [136]:
#age demo total purchase value
age_demo_total_purchase_value = age_df["Price"].sum().map("${:.2f}".format)
age_demo_total_purchase_value

Age Ranges
<10        $77.13
10-14      $82.78
15-19     $412.89
20-24    $1114.06
25-29     $293.00
30-34     $214.00
35-39     $147.67
40+        $38.24
Name: Price, dtype: object

In [137]:
#age demo average purchase total per person by age group
age_demo_average_purchase_total_per_person = age_demo_total_purchase_value / age_demo_purchase_count
age_demo_average_purchase_total_per_person

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [138]:
#Summary of age demo
summary={
    'age demo purchase count' : age_demo_purchase_count,
    'age demo average purchase' : age_demo_average_purchase,
    'age demo total purchase value' : age_demo_total_purchase_value
}
age_purchasing_analysis_summary = pd.DataFrame(summary)
age_purchasing_analysis_summary

,age demo purchase count,age demo average purchase,age demo total purchase value
Age Ranges,,,
<10,23,$3.35,$77.13
10-14,28,$2.96,$82.78
15-19,136,$3.04,$412.89
20-24,365,$3.05,$1114.06
25-29,101,$2.90,$293.00
30-34,73,$2.93,$214.00
35-39,41,$3.60,$147.67
40+,13,$2.94,$38.24

In [139]:
#top spenders sn
Top_Spenders_df = df.groupby(["SN"])
Top_Spenders_df

In [140]:
#total purchases
Top_Five_Total_Purchases = Top_Spenders_df["Price"].sum().nlargest(5).map("${:.2f}".format)
Top_Five_Total_Purchases

SN
Lisosia93      $18.96
Idastidru52    $15.45
Chamjask73     $13.83
Iral74         $13.62
Iskadarya95    $13.10
Name: Price, dtype: object

In [141]:
#top spenders purchase count
Top_Five_Purchase_Count = Top_Spenders_df["SN"].count().nlargest(5)
Top_Five_Purchase_Count

SN
Lisosia93      5
Idastidru52    4
Iral74         4
Aelin32        3
Aina42         3
Name: SN, dtype: int64

In [142]:
#top spenders average purchase price 
Top_Five_Average_Purchase_Price = round(Top_Spenders_df["Price"].mean(),2).nlargest(5)
Top_Five_Average_Purchase_Price

SN
Dyally87          4.99
Chanirrasta87     4.94
Lirtilsa71        4.94
Ririp86           4.94
Yarithsurgue62    4.94
Name: Price, dtype: float64

In [143]:
#summary top spenders
summary={
   'Top Five Total Purchases' : Top_Five_Total_Purchases
}
top_spenders_summary = pd.DataFrame(summary)
top_spenders_summary

            Top Five Total Purchases
SN
Lisosia93                     $18.96
Idastidru52                   $15.45
Chamjask73                    $13.83
Iral74                        $13.62
Iskadarya95                   $13.10

In [144]:
popular_items_df = df.groupby(["Item ID","Item Name"])
popular_items_df

In [145]:
#purchase count
Five_Most_Popular_Purchase_Count = popular_items_df["SN"].count().nlargest(5)
Five_Most_Popular_Purchase_Count

Item ID  Item Name
92       Final Critic                                    13
178      Oathbreaker, Last Hope of the Breaking Storm    12
82       Nirvana                                          9
108      Extraction, Quickblade Of Trembling Hands        9
132      Persuasion                                       9
Name: SN, dtype: int64

In [146]:
#total purchase value
Five_Most_Popular_total_purchase_value = popular_items_df["Price"].sum().nlargest(5)
Five_Most_Popular_total_purchase_value

Item ID  Item Name
92       Final Critic                                    59.99
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
82       Nirvana                                         44.10
145      Fiery Glass Crusader                            41.22
103      Singed Scalpel                                  34.80
Name: Price, dtype: float64

In [147]:
#item price
Five_Most_Popular_item_price = round(Five_Most_Popular_total_purchase_value / Five_Most_Popular_Purchase_Count,2)
Five_Most_Popular_item_price

Item ID  Item Name
82       Nirvana                                         4.90
92       Final Critic                                    4.61
103      Singed Scalpel                                   NaN
108      Extraction, Quickblade Of Trembling Hands        NaN
132      Persuasion                                       NaN
145      Fiery Glass Crusader                             NaN
178      Oathbreaker, Last Hope of the Breaking Storm    4.23
dtype: float64

In [148]:
#summary most popular items
summary={
    'Five Most Popular Item ID' : Five_Most_Popular_Item_ID,
}
most_popular_items_summary = pd.DataFrame(summary)
most_popular_items_summary

                                                      Five Most Popular Item ID
Item ID Item Name
92      Final Critic                                                         13
178     Oathbreaker, Last Hope of the Breaking Storm                         12
82      Nirvana                                                               9
108     Extraction, Quickblade Of Trembling Hands                             9
132     Persuasion                                                            9

In [149]:
most_profitable_df = df.groupby(['Item ID', 'Item Name'])
most_profitable_df

In [150]:
#most profitable items 'item id'
most_profitable_item_id = most_profitable_df["Price"].sum().nlargest(5)
most_profitable_item_id

Item ID  Item Name
92       Final Critic                                    59.99
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
82       Nirvana                                         44.10
145      Fiery Glass Crusader                            41.22
103      Singed Scalpel                                  34.80
Name: Price, dtype: float64

In [151]:
#most profitable items 'purchase count'
most_profitable_purchase_count = most_profitable_df['Item ID'].count().nlargest(5)
most_profitable_purchase_count

Item ID  Item Name
92       Final Critic                                    13
178      Oathbreaker, Last Hope of the Breaking Storm    12
82       Nirvana                                          9
108      Extraction, Quickblade Of Trembling Hands        9
132      Persuasion                                       9
Name: Item ID, dtype: int64

In [44]:
#most profitable items 'item price'

In [45]:
#most profitable items 'total purchase value'

In [46]:
#summary profitable items
summary={
    'most profitable item id' : most_profitable_item_id
}
profitable_summary = pd.DataFrame(summary)
profitable_summary

                                                      most profitable item id
Item ID Item Name
92      Final Critic                                                    59.99
178     Oathbreaker, Last Hope of the Breaking Storm                    50.76
82      Nirvana                                                         44.10
145     Fiery Glass Crusader                                            41.22
103     Singed Scalpel                                                  34.80