In [1]:
import pandas as pd

In [2]:
file = "Resources\Heroesofpymoli.csv"

In [3]:
orignal_df = pd.read_csv(file)
orignal_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
df = orignal_df.set_index('Purchase ID')
df.head()

,SN,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
# find total players
Total_Players = len(df['SN'].unique())
Total_Players

576

In [6]:
summary={
    'Total Players' : [Total_Players]
}
total_players_summary = pd.DataFrame(summary)
total_players_summary

   Total Players
0            576

In [7]:
#unique items
Total_Unique_items = len(df['Item ID'].unique())
Total_Unique_items

179

In [8]:
#average price
Average_Price = round(df['Price'].mean(),2)
Average_Price

3.05

In [9]:
#Number of Purchases
Number_of_Purchases = df["SN"].count()
Number_of_Purchases

780

In [10]:
#Total Revenue
Total_Revenue = df['Price'].sum()
Total_Revenue

2379.77

In [11]:
#Summary Table
summary={
    'Total Unique Items' : [Total_Unique_items],
    'Average Price' : [Average_Price],
    'Number of Purchases' : [Number_of_Purchases],
    'Total Revenue' : [Total_Revenue]
}
summary_df=pd.DataFrame(summary)
summary_df

   Total Unique Items  Average Price  Number of Purchases  Total Revenue
0                 179           3.05                  780        2379.77

In [12]:
another_df = df.loc[:,['Gender', 'SN', 'Age']]
another_df = another_df.drop_duplicates()

In [13]:
Gender_Type = another_df['Gender'].value_counts()
Gender_Type

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [14]:
#Percentage by gender 
Percentage_by_gender = round(Gender_Type / Total_Players *100,2).map("{:.2f}%".format)
Percentage_by_gender

Male                     84.03%
Female                   14.06%
Other / Non-Disclosed     1.91%
Name: Gender, dtype: object

In [15]:
#Summary Table for different Gender Types
summary={
    'Gender Type' : Gender_Type,
    'Percentage by gender' : Percentage_by_gender
}
summary_another_df = pd.DataFrame(summary)
summary_another_df

                       Gender Type Percentage by gender
Male                           484               84.03%
Female                          81               14.06%
Other / Non-Disclosed           11                1.91%

In [16]:
#Purchase Count
Purchase_Count = df.groupby(['Gender']).count()['Item ID'].rename('Purchase_Count')
Purchase_Count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase_Count, dtype: int64

In [17]:
#Average Purchase Price
Average_Purchase_Price = round(df.groupby(['Gender']).mean()['Price'].rename('Average Purchase Price'),2).map("${:.2f}".format)
Average_Purchase_Price

Gender
Female                   $3.20
Male                     $3.02
Other / Non-Disclosed    $3.35
Name: Average Purchase Price, dtype: object

In [18]:
#Total Purchase Value for each gender
Total_Purchase_Value = df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
Total_Purchase_Value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Total Purchase Value, dtype: float64

In [19]:
gendersn = df.groupby(['Gender'])['SN'].nunique()
gendersn

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [20]:
#Average Purchase Total per person by gender
Average_Total_Purchase_per_person = pd.merge(Total_Purchase_Value, gendersn, on='Gender')
Average_Total_Purchase_per_person

                       Total Purchase Value   SN
Gender
Female                               361.94   81
Male                                1967.64  484
Other / Non-Disclosed                 50.19   11

In [21]:
average_per_person = round(Average_Total_Purchase_per_person['Total Purchase Value']/Average_Total_Purchase_per_person['SN'],2).map("${:.2f}".format)
average_per_person

Gender
Female                   $4.47
Male                     $4.07
Other / Non-Disclosed    $4.56
dtype: object

In [22]:
#Summary of purchasing analysis(gender)
summary={
    'Purchase Count' : Purchase_Count,
    'Average Purchase Price' : Average_Purchase_Price,
    'Total Purchase Value' : Total_Purchase_Value,
    'average per person' : average_per_person
}
purchasing_analysis_summary = pd.DataFrame(summary)
purchasing_analysis_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,average per person
Gender,,,,
Female,113,$3.20,361.94,$4.47
Male,652,$3.02,1967.64,$4.07
Other / Non-Disclosed,15,$3.35,50.19,$4.56

In [23]:
max_age = df["Age"].max()
min_age = df["Age"].min()

In [24]:
#age demo
#create bins 
bins = [5, 9.9, 14.9, 19.9 , 24.9, 29.9, 34.9, 39.9, 99]
#labels = group_names
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
labels = group_names

In [25]:
df["Age Ranges"] = pd.cut(df["Age"], bins, labels = group_names)
df["Age Ranges"]

Purchase ID
0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age Ranges, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [26]:
age_df = df.groupby(['Age Ranges'])
age_df

In [27]:
#age demo summary for count 
age_count = age_df["SN"].nunique()
age_count

Age Ranges
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [28]:
age_percentage = round(age_count / Total_Players *100,2).map("{:.2f}%".format)
age_percentage

Age Ranges
<10       2.95%
10-14     3.82%
15-19    18.58%
20-24    44.79%
25-29    13.37%
30-34     9.03%
35-39     5.38%
40+       2.08%
Name: SN, dtype: object

In [29]:
#age summary for count and percent
summary={
    'age count' : age_count,
    'age percentage' : age_percentage
}
age_demo_summary = pd.DataFrame(summary)
age_demo_summary

            age count age percentage
Age Ranges
<10                17          2.95%
10-14              22          3.82%
15-19             107         18.58%
20-24             258         44.79%
25-29              77         13.37%
30-34              52          9.03%
35-39              31          5.38%
40+                12          2.08%

In [30]:
#age demo purchase count
age_demo_purchase_count = age_df["SN"].count()
age_demo_purchase_count

Age Ranges
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: SN, dtype: int64

In [31]:
#age demo average purchase price
age_demo_average_purchase = round(age_df["Price"].mean(),2).map("${:.2f}".format)
age_demo_average_purchase

Age Ranges
<10      $3.35
10-14    $2.96
15-19    $3.04
20-24    $3.05
25-29    $2.90
30-34    $2.93
35-39    $3.60
40+      $2.94
Name: Price, dtype: object

In [32]:
#age demo total purchase value
age_demo_total_purchase_value = age_df["Price"].sum().map("${:.2f}".format)
age_demo_total_purchase_value

Age Ranges
<10        $77.13
10-14      $82.78
15-19     $412.89
20-24    $1114.06
25-29     $293.00
30-34     $214.00
35-39     $147.67
40+        $38.24
Name: Price, dtype: object

In [33]:
average_age_total = df.groupby(['Age Ranges']).sum()['Price']
average_age_total

Age Ranges
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [34]:
age_demo_average_purchase_per_person = round(average_age_total /age_demo_summary['age count'],2).map("${:.2f}".format)
age_demo_average_purchase_per_person

Age Ranges
<10      $4.54
10-14    $3.76
15-19    $3.86
20-24    $4.32
25-29    $3.81
30-34    $4.12
35-39    $4.76
40+      $3.19
dtype: object

In [35]:
#Summary of age demo
summary={
    'age demo purchase count' : age_demo_purchase_count,
    'age demo average purchase' : age_demo_average_purchase,
    'age demo total purchase value' : age_demo_total_purchase_value,
    'age demo average purchase per person' : age_demo_average_purchase_per_person
}
age_purchasing_analysis_summary = pd.DataFrame(summary)
age_purchasing_analysis_summary

,age demo purchase count,age demo average purchase,age demo total purchase value,age demo average purchase per person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [36]:
#top spenders sn
#Top_Spenders_df = df.groupby(["SN"])
#Top_Spenders_df

In [37]:
top_spenders = df.groupby(['SN']).sum()['Price']
top_spenders

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [38]:
spenders = pd.DataFrame({"Total Purchase Value": top_spenders})
spenders

               Total Purchase Value
SN
Adairialis76                   2.28
Adastirin33                    4.48
Aeda94                         4.91
Aela59                         4.32
Aelaria33                      1.79
...                             ...
Yathecal82                     6.22
Yathedeu43                     6.02
Yoishirrala98                  4.58
Zhisrisu83                     7.89
Zontibe81                      8.03

[576 rows x 1 columns]

In [39]:
top = spenders.sort_values('Total Purchase Value', ascending=False)
top

             Total Purchase Value
SN
Lisosia93                   18.96
Idastidru52                 15.45
Chamjask73                  13.83
Iral74                      13.62
Iskadarya95                 13.10
...                           ...
Ililsasya43                  1.02
Irilis75                     1.02
Aidai61                      1.01
Chanirra79                   1.01
Alo38                        1.00

[576 rows x 1 columns]

In [40]:
top = top.head(5)
top

             Total Purchase Value
SN
Lisosia93                   18.96
Idastidru52                 15.45
Chamjask73                  13.83
Iral74                      13.62
Iskadarya95                 13.10

In [41]:
#top spenders purchase count
spenders_count = df.groupby(['SN']).count()['Price']
spenders_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Price, Length: 576, dtype: int64

In [44]:
count = pd.DataFrame({"Purchase Count": spenders_count})
count

               Purchase Count
SN
Adairialis76                1
Adastirin33                 1
Aeda94                      1
Aela59                      1
Aelaria33                   1
...                       ...
Yathecal82                  3
Yathedeu43                  2
Yoishirrala98               1
Zhisrisu83                  2
Zontibe81                   3

[576 rows x 1 columns]

In [50]:
count_spenders = count.sort_values('Purchase Count', ascending=False).head(5)
count_spenders

             Purchase Count
SN
Lisosia93                 5
Iral74                    4
Idastidru52               4
Asur53                    3
Inguron55                 3

In [52]:
average_price = round(df.groupby(['SN']).mean()['Price'],2)
average_price

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       2.07
Yathedeu43       3.01
Yoishirrala98    4.58
Zhisrisu83       3.94
Zontibe81        2.68
Name: Price, Length: 576, dtype: float64

In [53]:
avg_price = pd.DataFrame({"Average Purchase Price": average_price})
avg_price

               Average Purchase Price
SN
Adairialis76                     2.28
Adastirin33                      4.48
Aeda94                           4.91
Aela59                           4.32
Aelaria33                        1.79
...                               ...
Yathecal82                       2.07
Yathedeu43                       3.01
Yoishirrala98                    4.58
Zhisrisu83                       3.94
Zontibe81                        2.68

[576 rows x 1 columns]

In [54]:
Top_Five_average = avg_price.sort_values('Average Purchase Price', ascending=False).head(5)
Top_Five_average

                Average Purchase Price
SN
Dyally87                          4.99
Yarithsurgue62                    4.94
Chanirrasta87                     4.94
Lirtilsa71                        4.94
Ririp86                           4.94

In [56]:
#top spenders average purchase price 
Top_Five_Average_Purchase_Price = count_spenders/avg_price
Top_Five_Average_Purchase_Price

               Average Purchase Price  Purchase Count
SN
Adairialis76                      NaN             NaN
Adastirin33                       NaN             NaN
Aeda94                            NaN             NaN
Aela59                            NaN             NaN
Aelaria33                         NaN             NaN
...                               ...             ...
Yathecal82                        NaN             NaN
Yathedeu43                        NaN             NaN
Yoishirrala98                     NaN             NaN
Zhisrisu83                        NaN             NaN
Zontibe81                         NaN             NaN

[576 rows x 2 columns]

In [60]:
#summary top spenders
Index.summary={
    'top' : top,
   'count spenders' : count_spenders,
    'Top Five average' : Top_Five_average
}
top_spenders_summary = pd.DataFrame(summary)
top_spenders_summary

NameError: name 'Index' is not defined

In [70]:
popular_items_df = df.groupby(["Item ID","Item Name"]).sum()["Price"]
popular_items_df

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [75]:
#purchase count
Five_Most_Popular_Purchase_Count = popular_items_df["Price"].count().nlargest(5)
Five_Most_Popular_Purchase_Count

KeyError: 'Price'

In [72]:
#total purchase value
Five_Most_Popular_total_purchase_value = popular_items_df["Price"].sum().nlargest(5)
Five_Most_Popular_total_purchase_value

KeyError: 'Price'

In [73]:
#item price
Five_Most_Popular_item_price = round(Five_Most_Popular_total_purchase_value / Five_Most_Popular_Purchase_Count,2)
Five_Most_Popular_item_price

NameError: name 'Five_Most_Popular_total_purchase_value' is not defined

In [74]:
#summary most popular items
summary={
    'Five Most Popular Purchase Count' : Five_Most_Popular_Purchase_Count,
    'Five Most Popular total purchase value' : Five_Most_Popular_total_purchase_value,
    'Five Most Popular item price' : Five_Most_Popular_item_price
}
most_popular_items_summary = pd.DataFrame(summary)
most_popular_items_summary

NameError: name 'Five_Most_Popular_Purchase_Count' is not defined

In [47]:
most_profitable_df = df.groupby(['Item ID', 'Item Name'])
most_profitable_df

In [48]:
#most profitable items 'item id'
most_profitable_item_id = most_profitable_df["Price"].sum().nlargest(5)
most_profitable_item_id

Item ID  Item Name
92       Final Critic                                    59.99
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
82       Nirvana                                         44.10
145      Fiery Glass Crusader                            41.22
103      Singed Scalpel                                  34.80
Name: Price, dtype: float64

In [49]:
#most profitable items 'purchase count'
most_profitable_purchase_count = most_profitable_df['Item ID'].count().nlargest(5)
most_profitable_purchase_count

Item ID  Item Name
92       Final Critic                                    13
178      Oathbreaker, Last Hope of the Breaking Storm    12
82       Nirvana                                          9
108      Extraction, Quickblade Of Trembling Hands        9
132      Persuasion                                       9
Name: Item ID, dtype: int64

In [50]:
#summary profitable items
summary={
    'most profitable item id' : most_profitable_item_id
}
profitable_summary = pd.DataFrame(summary)
profitable_summary

                                                      most profitable item id
Item ID Item Name
92      Final Critic                                                    59.99
178     Oathbreaker, Last Hope of the Breaking Storm                    50.76
82      Nirvana                                                         44.10
145     Fiery Glass Crusader                                            41.22
103     Singed Scalpel                                                  34.80