In [70]:
import pandas as pd

In [71]:
school_data_to_load = "Resources\Schools Complete.csv"
student_data_to_load = "Resources\students complete.csv"

In [72]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [73]:
school_data_complete = pd.merge(student_data, school_data, how="left", on = ["school_name","school_name"])

In [74]:
df = school_data_complete
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [75]:
#Total number of schools
Total_Schools = len(df['school_name'].unique())
Total_Schools

15

In [76]:
#Total number of students
Total_Students = df['student_name'].count()
Total_Students

39170

In [97]:
#Total budget
Total_budget = school_data['budget'].sum()
Total_budget

24649428

In [78]:
#average math score
Average_math_score = df['math_score'].mean()
Average_math_score

78.98537145774827

In [79]:
#average reading score
Average_reading_score = df['reading_score'].mean()
Average_reading_score

81.87784018381414

In [93]:
# % math passed above 70
pass_math = student_data.loc[student_data['math_score'] >= 70]
per_math = round(len(pass_math)/ Total_Students * 100, 2)
per_math

74.98

In [91]:
pass_reading = student_data.loc[student_data['reading_score'] >= 70]
per_reading = round(len(pass_reading)/ Total_Students * 100, 2)
per_reading

85.81

In [95]:
overall = round((per_math + per_reading)/2, 2)
overall

80.4

In [98]:
#district summary
summary={
    'Total Schools' : Total_Schools,
    'Total Students' : Total_Students,
    'Total budget' : Total_budget,
    'Average math score' : Average_math_score,
    'Average reading score' : Average_reading_score,
    'per math' : per_math,
    'per reading' : per_reading
}
District_Summary = pd.DataFrame(summary)
District_Summary

ValueError: If using all scalar values, you must pass an index

In [80]:
#calculate percentage of students who passed math with a 70 or greater
students_passed_math = round(df[df['math_score']>=70].groupby('school_name').size()/Total_Students,2)
students_passed_math

school_name
Bailey High School       0.08
Cabrera High School      0.04
Figueroa High School     0.05
Ford High School         0.05
Griffin High School      0.04
Hernandez High School    0.08
Holden High School       0.01
Huang High School        0.05
Johnson High School      0.08
Pena High School         0.02
Rodriguez High School    0.07
Shelton High School      0.04
Thomas High School       0.04
Wilson High School       0.05
Wright High School       0.04
dtype: float64

In [81]:
#calculate percentage of students who passed reading with a 70 or greater
students_passed_reading = round(df[df['reading_score']>=70].groupby('school_name').size()/Total_Students,2)
students_passed_reading

school_name
Bailey High School       0.10
Cabrera High School      0.05
Figueroa High School     0.06
Ford High School         0.06
Griffin High School      0.04
Hernandez High School    0.10
Holden High School       0.01
Huang High School        0.06
Johnson High School      0.10
Pena High School         0.02
Rodriguez High School    0.08
Shelton High School      0.04
Thomas High School       0.04
Wilson High School       0.06
Wright High School       0.04
dtype: float64

In [82]:
#calculate percentage of students who passed math and reading (% over all)
students_passed_math_and_reading = round(df[(df['math_score']>=70) & (df['reading_score']>=70)].groupby('school_name').size()/Total_Students,2)
students_passed_math_and_reading

school_name
Bailey High School       0.07
Cabrera High School      0.04
Figueroa High School     0.04
Ford High School         0.04
Griffin High School      0.03
Hernandez High School    0.06
Holden High School       0.01
Huang High School        0.04
Johnson High School      0.07
Pena High School         0.02
Rodriguez High School    0.05
Shelton High School      0.04
Thomas High School       0.04
Wilson High School       0.05
Wright High School       0.04
dtype: float64

In [83]:
#create dataframe 
summary={
    'Total Schools' : Total_Schools,
    'Total Students' : Total_Students,
    'Total budget' : Total_budget,
    'Average math score' : Average_math_score,
    'Average reading score' : Average_reading_score,
    'students passed math' : students_passed_math,
    'students passed reading' : students_passed_reading,
    'students passed math and reading' : students_passed_math_and_reading
}
summary = pd.DataFrame(summary)
summary

,Total Schools,Total Students,Total budget,Average math score,Average reading score,students passed math,students passed reading,students passed math and reading
school_name,,,,,,,,
Bailey High School,15,39170,24649428,78.985371,81.87784,0.08,0.10,0.07
Cabrera High School,15,39170,24649428,78.985371,81.87784,0.04,0.05,0.04
Figueroa High School,15,39170,24649428,78.985371,81.87784,0.05,0.06,0.04
Ford High School,15,39170,24649428,78.985371,81.87784,0.05,0.06,0.04
Griffin High School,15,39170,24649428,78.985371,81.87784,0.04,0.04,0.03
Hernandez High School,15,39170,24649428,78.985371,81.87784,0.08,0.10,0.06
Holden High School,15,39170,24649428,78.985371,81.87784,0.01,0.01,0.01
Huang High School,15,39170,24649428,78.985371,81.87784,0.05,0.06,0.04
Johnson High School,15,39170,24649428,78.985371,81.87784,0.08,0.10,0.07
Pena High School,15,39170,24649428,78.985371,81.87784,0.02,0.02,0.02
Rodriguez High School,15,39170,24649428,78.985371,81.87784,0.07,0.08,0.05
Shelton High School,15,39170,24649428,78.985371,81.87784,0.04,0.04,0.04
Thomas High School,15,39170,24649428,78.985371,81.87784,0.04,0.04,0.04
Wilson High School,15,39170,24649428,78.985371,81.87784,0.05,0.06,0.05
Wright High School,15,39170,24649428,78.985371,81.87784,0.04,0.04,0.04

In [84]:
#school names
school_index = schools.set_index('Total_Schools')
school_type = school_index['type']
school_students = school_index['size']
school_budgets = school_index['budget']
psb = school_budget/school_students

NameError: name 'schools' is not defined

In [85]:
#school types

In [86]:
#total students

In [ ]:
#total school budget

In [ ]:
#per student budget

In [42]:
#Top_performing_schools_df =

In [ ]:
#average math score
d2 = student_df.groupby(['school'])
stu = pd.DataFrame(round(d2.mean(),2))   
stu = stu.loc[:,['reading_score','math_score']]
stu

In [33]:
#average reading score

In [ ]:
# % passing math

In [ ]:
# % passing reading

In [ ]:
# % passing over all (math and reading)

In [ ]:
#dataframe

In [18]:
# sort top five performing schools by % overall passing
Top_Five_Schools = df.groupby(['school_name']).school_name.count().nlargest(5)
Top_Five_Schools

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [45]:
# sort bottom five worst performing schools by % overall passing
Bottom_Five_Schools = df.groupby(['school_name']).school_name.count().nsmallest(5)
Bottom_Five_Schools

school_name
Holden High School      427
Pena High School        962
Griffin High School    1468
Thomas High School     1635
Shelton High School    1761
Name: school_name, dtype: int64

In [61]:
max_grade = df['grade'].max()
min_grade = df['grade'].min()

In [62]:
#students per grade level
bins = [9.9, 10.9, 11.9]
labels = grade_level
grade_level = [9, 10, 11, 12]

In [63]:
df['grade ranges'] = pd.cut(df['grade'], bins, labels = grade_level)
df['grade ranges']

TypeError: '<' not supported between instances of 'float' and 'str'

In [52]:
grade_level = df['grade'].nunique()
grade_level

4

In [ ]:
# average math score for each student of each grade level

In [35]:
# average reading score for each student of each grade level

In [64]:
max_spending = df['budget'].max()
min_spending = df['budget'].min()

In [ ]:
bins = 
lables = school_group
school_group =

In [ ]:
#scores by school spending
scores_by_school_spending =

In [ ]:
#scores by school size

In [ ]:
#scores by school type