In [99]:
import pandas as pd

In [100]:
school_data_to_load = "Resources\Schools Complete.csv"
student_data_to_load = "Resources\students complete.csv"

In [101]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [102]:
school_data_complete = pd.merge(student_data, school_data, how="left", on = ["school_name","school_name"])

In [103]:
df = school_data_complete
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [104]:
#Total number of schools
Total_Schools = len(df['school_name'].unique())
Total_Schools

15

In [105]:
#Total number of students
Total_Students = df['student_name'].count()
Total_Students

39170

In [106]:
#Total budget
Total_budget = school_data['budget'].sum()
Total_budget

24649428

In [107]:
#average math score
Average_math_score = df['math_score'].mean()
Average_math_score

78.98537145774827

In [108]:
#average reading score
Average_reading_score = df['reading_score'].mean()
Average_reading_score

81.87784018381414

In [118]:
# % math passed above 70
pass_math = student_data.loc[student_data['math_score'] >= 70]
percentage_passed_math = round(len(pass_math)/ Total_Students * 100, 2)
percentage_passed_math

74.98

In [119]:
# % reading  passed above 70
pass_reading = student_data.loc[student_data['reading_score'] >= 70]
percentage_passed_reading = round(len(pass_reading)/ Total_Students * 100, 2)
percentage_passed_reading

85.81

In [120]:
# % math and reading passed above 70
percentage_passed_math_reading = round((per_math + per_reading)/2, 2)
percentage_passed_math_reading

80.4

In [121]:
#district summary
summary={
    'Total Schools' : Total_Schools,
    'Total Students' : Total_Students,
    'Total budget' : Total_budget,
    'Average math score' : Average_math_score,
    'Average reading score' : Average_reading_score,
    'percentage passed math' : percentage_passed_math,
    'percentage passed reading' : percentage_passed_reading,
    'percentage passed math reading' : percentage_passed_math_reading
}
District_Summary = pd.DataFrame(summary)
District_Summary

ValueError: If using all scalar values, you must pass an index

In [146]:
#calculate percentage of students who passed math with a 70 or greater
#students_passed_math = round(df[df['math_score']>=70].groupby('school_name').size()/Total_Students,2)
#students_passed_math

In [147]:
#calculate percentage of students who passed reading with a 70 or greater
#students_passed_reading = round(df[df['reading_score']>=70].groupby('school_name').size()/Total_Students,2)
#students_passed_reading

In [148]:
#calculate percentage of students who passed math and reading (% over all)
#students_passed_math_and_reading = round(df[(df['math_score']>=70) & (df['reading_score']>=70)].groupby('school_name').size()/Total_Students,2)
#students_passed_math_and_reading

In [124]:
school_index = school_data.set_index('school_name')
school_index

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [127]:
school_type = school_index['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [126]:
school_students = school_index['size']
school_students

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [128]:
school_budget = school_index['budget']
school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [129]:
per_student_budget = school_budget/school_students
per_student_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [134]:
index = df.set_index('school_name')
index

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,39165,Donna Howard,F,12th,99,90,14,Charter,1635,1043130
Thomas High School,39166,Dawn Bell,F,10th,95,70,14,Charter,1635,1043130
Thomas High School,39167,Rebecca Tanner,F,9th,73,84,14,Charter,1635,1043130
Thomas High School,39168,Desiree Kidd,F,10th,99,90,14,Charter,1635,1043130
Thomas High School,39169,Carolyn Jackson,F,11th,95,75,14,Charter,1635,1043130

In [135]:
grouped = index.groupby(['school_name'])
grouped

In [138]:
#average math score for each school
average_math_score_school = grouped['math_score'].mean()
average_math_score_school

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [139]:
#average reading score per school
average_reading_score_school = grouped['reading_score'].mean()
average_reading_score_school

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [152]:
# % passed math per school
students = grouped['student_name'].count()
math = pass_math.groupby(['school_name'])
percentage_passed_math_per_school = math['student_name'].count()/passed_math_per_school*100
percentage_passed_math_per_school

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: student_name, dtype: float64

In [151]:
# percentage passed reading per school
reading = pass_reading.groupby('school_name')
percentage_passed_reading_per_school = reading['student_name'].count()/students*100
percentage_passed_reading_per_school

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: student_name, dtype: float64

In [153]:
#percentage passed both math and reading per school
percentage_passed_both_math_reading_per_school = (percentage_passed_math_per_school + percentage_passed_reading_per_school)/2
percentage_passed_both_math_reading_per_school

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
Name: student_name, dtype: float64

In [155]:
#create dataframe 
summary={
    'school type' : school_type,
    'school students' : school_students,
    'school budget' : school_budget,
    'per student budget' : per_student_budget,
    'average math score school' : average_math_score_school,
    'average reading score school' : average_reading_score_school,
    'percentage passed math per school' : percentage_passed_math_per_school,
    'percentage passed reading per school' : percentage_passed_reading_per_school,
    'percentage passed both math reading per school' : percentage_passed_both_math_reading_per_school
}
school_summary = pd.DataFrame(summary)
school_summary

,school type,school students,school budget,per student budget,average math score school,average reading score school,percentage passed math per school,percentage passed reading per school,percentage passed both math reading per school
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

In [156]:
#top performing schools
top_performing_summary = school_summary.loc[school_summary['percentage passed both math reading per school'] > 90]
top_performing_summary.sort_values(['percentage passed both math reading per school'], ascending=False).head()

,school type,school students,school budget,per student budget,average math score school,average reading score school,percentage passed math per school,percentage passed reading per school,percentage passed both math reading per school
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [157]:
#bottom performing schools
bottom_performing_summary = school_summary.loc[school_summary['percentage passed both math reading per school'] < 75]
bottom_performing_summary.sort_values(['percentage passed both math reading per school'], ascending=True).head()

,school type,school students,school budget,per student budget,average math score school,average reading score school,percentage passed math per school,percentage passed reading per school,percentage passed both math reading per school
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,73.804308

In [162]:
#math scores 9th grade
ninth = student_data.loc[student_data['grade']=='9th'].groupby('school_name')
ninth_math = ninth['math_score'].mean()
ninth_math

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [163]:
#math scores 10th grade
tenth = student_data.loc[student_data['grade']=='10th'].groupby('school_name')
tenth_math = tenth['math_score'].mean()
tenth_math

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [164]:
#math scores 11th grade
eleventh = student_data.loc[student_data['grade']=='11th'].groupby('school_name')
eleventh_math = eleventh['math_score'].mean()
eleventh_math

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [165]:
# math scores 12th grade 
twelth = student_data.loc[student_data['grade']=='12th'].groupby('school_name')
twelth_math = twelth['math_score'].mean()
twelth_math

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [168]:
#math scores summary
summary={
    'ninth math' : ninth_math,
    'tenth math' : tenth_math,
    'eleventh math' : eleventh_math,
    'twelth math' : twelth_math
}
math_score_summary = pd.DataFrame(summary)
math_score_summary

                       ninth math  tenth math  eleventh math  twelth math
school_name
Bailey High School      77.083676   76.996772      77.515588    76.492218
Cabrera High School     83.094697   83.154506      82.765560    83.277487
Figueroa High School    76.403037   76.539974      76.884344    77.151369
Ford High School        77.361345   77.672316      76.918058    76.179963
Griffin High School     82.044010   84.229064      83.842105    83.356164
Hernandez High School   77.438495   77.337408      77.136029    77.186567
Holden High School      83.787402   83.429825      85.000000    82.855422
Huang High School       77.027251   75.908735      76.446602    77.225641
Johnson High School     77.187857   76.691117      77.491653    76.863248
Pena High School        83.625455   83.372000      84.328125    84.121547
Rodriguez High School   76.859966   76.612500      76.395626    77.690748
Shelton High School     83.420755   82.917411      83.383495    83.778976
Thomas High School      83.590022   83.087886      83.498795    83.497041
Wilson High School      83.085578   83.724422      83.195326    83.035794
Wright High School      83.264706   84.010288      83.836782    83.644986

In [169]:
# reading score 9th grade
ninth_grade = student_data.loc[student_data['grade']=='9th'].groupby('school_name')
ninth_reading = ninth_grade['reading_score'].mean()
ninth_reading

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [170]:
# reading scores 10th grade
tenth_grade = student_data.loc[student_data['grade']=='10th'].groupby('school_name')
tenth_reading = tenth_grade['reading_score'].mean()
tenth_reading

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [171]:
# reading scores 11th grade
eleventh_grade = student_data.loc[student_data['grade']=='11th'].groupby('school_name')
eleventh_reading = eleventh_grade['reading_score'].mean()
eleventh_reading

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [172]:
# reading scores 12th grade
twelth_grade = student_data.loc[student_data['grade']=='12th'].groupby('school_name')
twelth_reading = twelth_grade['reading_score'].mean()
twelth_reading

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [173]:
# reading score summary
summary={
    'ninth reading' : ninth_reading,
    'tenth reading' : tenth_reading,
    'eleventh reading' : eleventh_reading,
    'twelth reading' : twelth_reading
}
reading_score_summary = pd.DataFrame(summary)
reading_score_summary

,ninth reading,tenth reading,eleventh reading,twelth reading
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [176]:
#scores by school spending
bins = [0,585,615,645,675]
labels = money_range
money_range = ['<$585', '$585-615', '$615-645', '$645-675']

In [183]:
school_data['money_range'] = pd.cut(school_data['budget'], bins, labels = money_range)
school_data['money_range']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
Name: money_range, dtype: category
Categories (4, object): [<$585 < $585-615 < $615-645 < $645-675]

In [185]:
#scores by school size
bins = [0, 1000, 2000, 5000]
labels = school_size
school_size = ['small', medium, large]

NameError: name 'school_size' is not defined

In [186]:
school_data['school_size'] = pd.cut(school_data['size'], bins, labels = school_size)
school_data['school_size']

NameError: name 'school_size' is not defined

In [188]:
#scores by school type

C:\Users\whitn\anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

KeyError: "Columns not found: 'percentage passed both math reading', 'Average reading score', 'Average math score', 'percentage passedpercentage passed mathpercentage passed reading'"