In [8]:
import pandas as pd

In [18]:
school_data_to_load = "Resources\Schools Complete.csv"
student_data_to_load = "Resources\students complete.csv"

In [19]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [22]:
school_data_complete = pd.merge(student_data, school_data, how="left", on = ["school_name","school_name"])

In [23]:
df = school_data_complete
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [25]:
#Total number of schools
Total_Schools = len(df['school_name'].unique())
Total_Schools

15

In [27]:
#Total number of students
Total_Students = df['student_name'].count()
Total_Students

39170

In [44]:
#Total budget
Total_budget = df['budget'].sum()
Total_budget

82932329558

In [37]:
#average math score
Average_math_score = round(df['math_score'].mean())
Average_math_score

79

In [39]:
#average reading score
Average_reading_score = round(df['reading_score'].mean(),2)
Average_reading_score

81.88

In [41]:
#calculate percentage of students who passed math with a 70 or greater
Percentage_Students_Passed = Total_Students/Average_math_score*100
Percentage_Students_Passed

49582.278481012654

In [47]:
#calculate percentage of students who passed reading with a 70 or greater
Percentage_Students_Passed = round(Average_reading_score/Total_Students*100,2)
Percentage_Students_Passed

0.21

In [ ]:
#calculate percentage of students who passed math and reading (% over all)

In [32]:
#create dataframe

In [ ]:
#school names

In [ ]:
#school types

In [ ]:
#total students

In [ ]:
#total school budget

In [ ]:
#per student budget

In [ ]:
#average math score

In [33]:
#average reading score

In [ ]:
# % passing math

In [ ]:
# % passing reading

In [ ]:
# % passing over all (math and reading)

In [ ]:
#dataframe

In [ ]:
# sort top five performing schools by % overall passing

In [34]:
# sort bottom five worst performing schools by % overall passing

In [ ]:
# average math score for each student of each grade level

In [35]:
# average reading score for each student of each grade level

In [ ]:
#scores by school spending

In [ ]:
#scores by school size

In [ ]:
#scores by school type