In [23]:
import pandas as pd

In [24]:
school_data_to_load = "Resources\Schools Complete.csv"
student_data_to_load = "Resources\students complete.csv"

In [25]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [26]:
school_data_complete = pd.merge(student_data, school_data, how="left", on = ["school_name","school_name"])

In [27]:
df = school_data_complete
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [28]:
#Total number of schools
Total_Schools = len(df['school_name'].unique())
Total_Schools

15

In [29]:
#Total number of students
Total_Students = df['student_name'].count()
Total_Students

39170

In [30]:
#Total budget
Total_budget = school_data['budget'].sum()
Total_budget

24649428

In [31]:
#average math score
Average_math_score = df['math_score'].mean()
Average_math_score

78.98537145774827

In [32]:
#average reading score
Average_reading_score = df['reading_score'].mean()
Average_reading_score

81.87784018381414

In [36]:
#calculate percentage of students who passed math with a 70 or greater
students_passed_math = round(df[df['math_score']>=70].groupby('school_name').size()/Total_Students,2)
students_passed_math

school_name
Bailey High School       0.08
Cabrera High School      0.04
Figueroa High School     0.05
Ford High School         0.05
Griffin High School      0.04
Hernandez High School    0.08
Holden High School       0.01
Huang High School        0.05
Johnson High School      0.08
Pena High School         0.02
Rodriguez High School    0.07
Shelton High School      0.04
Thomas High School       0.04
Wilson High School       0.05
Wright High School       0.04
dtype: float64

In [34]:
#calculate percentage of students who passed reading with a 70 or greater
students_passed_reading = df[df['reading_score']>=70].groupby('school_name').size()/Total_Students
students_passed_reading

school_name
Bailey High School       0.104085
Cabrera High School      0.046030
Figueroa High School     0.060786
Ford High School         0.055451
Griffin High School      0.036405
Hernandez High School    0.095685
Holden High School       0.010493
Huang High School        0.060557
Johnson High School      0.098724
Pena High School         0.023564
Rodriguez High School    0.081899
Shelton High School      0.043094
Thomas High School       0.040618
Wilson High School       0.056268
Wright High School       0.044396
dtype: float64

In [35]:
#calculate percentage of students who passed math and reading (% over all)
students_passed_math_and_reading = df[(df['math_score']>=70) & (df['reading_score']>=70)].groupby('school_name').size()/Total_Students
students_passed_math_and_reading

school_name
Bailey High School       0.069415
Cabrera High School      0.043324
Figueroa High School     0.040056
Ford High School         0.037963
Griffin High School      0.033955
Hernandez High School    0.063339
Holden High School       0.009727
Huang High School        0.039852
Johnson High School      0.065075
Pena High School         0.022236
Rodriguez High School    0.054098
Shelton High School      0.040414
Thomas High School       0.037963
Wilson High School       0.052796
Wright High School       0.041511
dtype: float64

In [38]:
#create dataframe 
summary={
    'Total Schools' : Total_Schools,
    'Total Students' : Total_Students,
    'Total budget' : Total_budget,
    'Average math score' : Average_math_score,
    'Average reading score' : Average_reading_score,
    'students passed math' : students_passed_math,
    'students passed reading' : students_passed_reading,
    'students passed math and reading' : students_passed_math_and_reading
}
summary = pd.DataFrame(summary)
summary

,Total Schools,Total Students,Total budget,Average math score,Average reading score,students passed math,students passed reading,students passed math and reading
school_name,,,,,,,,
Bailey High School,15,39170,24649428,78.985371,81.87784,0.08,0.104085,0.069415
Cabrera High School,15,39170,24649428,78.985371,81.87784,0.04,0.046030,0.043324
Figueroa High School,15,39170,24649428,78.985371,81.87784,0.05,0.060786,0.040056
Ford High School,15,39170,24649428,78.985371,81.87784,0.05,0.055451,0.037963
Griffin High School,15,39170,24649428,78.985371,81.87784,0.04,0.036405,0.033955
Hernandez High School,15,39170,24649428,78.985371,81.87784,0.08,0.095685,0.063339
Holden High School,15,39170,24649428,78.985371,81.87784,0.01,0.010493,0.009727
Huang High School,15,39170,24649428,78.985371,81.87784,0.05,0.060557,0.039852
Johnson High School,15,39170,24649428,78.985371,81.87784,0.08,0.098724,0.065075
Pena High School,15,39170,24649428,78.985371,81.87784,0.02,0.023564,0.022236
Rodriguez High School,15,39170,24649428,78.985371,81.87784,0.07,0.081899,0.054098
Shelton High School,15,39170,24649428,78.985371,81.87784,0.04,0.043094,0.040414
Thomas High School,15,39170,24649428,78.985371,81.87784,0.04,0.040618,0.037963
Wilson High School,15,39170,24649428,78.985371,81.87784,0.05,0.056268,0.052796
Wright High School,15,39170,24649428,78.985371,81.87784,0.04,0.044396,0.041511

In [30]:
#school names
school = school_data.loc[:,['school', 'type', 'size', 'budget']]
school

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

In [ ]:
#school types

In [ ]:
#total students

In [ ]:
#total school budget

In [ ]:
#per student budget

In [31]:
Top_performing_schools_df = student_data.groupby(['school'])

KeyError: 'school'

In [ ]:
#average math score
d2 = student_df.groupby(['school'])
stu = pd.DataFrame(round(d2.mean(),2))   
stu = stu.loc[:,['reading_score','math_score']]
stu

In [33]:
#average reading score

In [ ]:
# % passing math

In [ ]:
# % passing reading

In [ ]:
# % passing over all (math and reading)

In [ ]:
#dataframe

In [18]:
# sort top five performing schools by % overall passing
Top_Five_Schools = df.groupby(['school_name']).school_name.count().nlargest(5)
Top_Five_Schools

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [34]:
# sort bottom five worst performing schools by % overall passing

In [ ]:
# average math score for each student of each grade level

In [35]:
# average reading score for each student of each grade level

In [ ]:
#scores by school spending

In [ ]:
#scores by school size

In [ ]:
#scores by school type