In [1]:
import pandas as pd

In [2]:
school_data_to_load = "Resources\Schools Complete.csv"
student_data_to_load = "Resources\students complete.csv"

In [3]:
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
school_data_complete = pd.merge(student_data, school_data, how="left", on = ["school_name","school_name"])

In [5]:
df = school_data_complete
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
#Total number of schools
Total_Schools = len(df['school_name'].unique())
Total_Schools

15

In [27]:
#Total number of students
Total_Students = df['student_name'].count()
Total_Students

39170

In [10]:
#Total budget
Total_budget = df['budget'].count()
Total_budget

39170

In [11]:
#average math score
Average_math_score = round(df['math_score'].mean())
Average_math_score

79

In [12]:
#average reading score
Average_reading_score = round(df['reading_score'].mean(),2)
Average_reading_score

81.88

In [15]:
#calculate percentage of students who passed math with a 70 or greater
Percentage_Students_Passed = StudentID/Average_math_score*100
Percentage_Students_Passed

NameError: name 'StudentID' is not defined

In [47]:
#calculate percentage of students who passed reading with a 70 or greater
Percentage_Students_Passed = round(Average_reading_score/Total_Students*100,2)
Percentage_Students_Passed

0.21

In [ ]:
#calculate percentage of students who passed math and reading (% over all)

In [32]:
#create dataframe

In [16]:
#school names
school_name = df.groupby(['school_name']).count()
school_name

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [ ]:
#school types

In [ ]:
#total students

In [ ]:
#total school budget

In [ ]:
#per student budget

In [ ]:
#average math score

In [33]:
#average reading score

In [ ]:
# % passing math

In [ ]:
# % passing reading

In [ ]:
# % passing over all (math and reading)

In [ ]:
#dataframe

In [18]:
# sort top five performing schools by % overall passing
Top_Five_Schools = df.groupby(['school_name']).school_name.count().nlargest(5)
Top_Five_Schools

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Name: school_name, dtype: int64

In [34]:
# sort bottom five worst performing schools by % overall passing

In [ ]:
# average math score for each student of each grade level

In [35]:
# average reading score for each student of each grade level

In [ ]:
#scores by school spending

In [ ]:
#scores by school size

In [ ]:
#scores by school type